.history {
    background: #d8971e;
    display: none;
    padding: 32px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 200px;
  }
  
  .history img {
    aspect-ratio: 16/9;
    width: 100%;
  }
  
  .history li {
    border-bottom: 1px solid #444;
    padding-bottom: 16px;
  }
  
  .history footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .history footer button {
    padding: 8px;
  }
  
  .history-button {
    align-items: center;
    background: rgb(37, 173, 10);
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: absolute;
    right: 100px;
    top: 5px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
  }
  
  .history-button:hover {
    scale: 1.2;
  }
  
  .history-button ~ input:checked ~ .history {
    height: 100%;
    display: block;
  }